* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "intern"
}

.inter_font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

body {
  background: #1a0b2e;
  color: #fff;
}

/* Navber */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 22px 70px;
  border-bottom: 1px solid rgba(65, 37, 103, 1);
}

.logo {
  font-size: 28px;
  font-weight: 700;
}

.logo span {
  color: #fb09b4;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
}

.nav-links a {
  text-decoration: none;
  color: #cfcfcf;
}

.nav-btn {
  background: linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1));
  border: none;
  padding: 10px 22px;
  border-radius: 25px;
  color: #fff;
  cursor: pointer;
}

/* HERO  */
.hero {
  position: relative;
  height: 90vh;
  background: url("../assets/hero-bg.png") center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden; 
}

.hero::before {
  content: "";
  position: absolute;
  inset: 0;
}

.hero-content {
  position: relative;
  text-align: center;
  z-index: 2;
}

/* Circle */
.circle {
  position: relative;
  width: 300px;
  height: 300px;
  background: url("../assets/hero-circle.png") center/cover no-repeat;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.circle img {
  width: 100px;
}

/* NEW badge */
.badge {
  position: absolute;
  top:20px;
  right: 30px;
  background: #00ff88;
  color: #000;
  font-size: 12px;
  padding: 4px 10px;
  border-radius: 20px;
  font-weight: 600;

}

/* Text */
.hero h1 {
  font-size: 48px;
  margin-top: 20px;
}

.hero p {
  font-size: 14px;
  color: #bdbdbd;
  max-width: 500px;
  margin: 10px auto 25px;
}

/* Buttons */
.buttons {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.spotify {
  background: linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1));
  border: none;
  padding: 10px 22px;
  border-radius: 25px;
  color: #fff;
}


.subscribe {
  display: flex;
  background: transparent;
  border: 1px solid #00ff88;
  color: #00ff88;
  padding: 10px 22px;
  border-radius: 25px;
  justify-content: center;
    align-items: center;
    text-align: center;
    gap:5px;
}

/* ================= ABOUT SECTION ================= */
.about-section {
  padding: 120px 0;
  background: radial-gradient(circle at center, #230e3d, #140721);
  text-align: center;
  
}

/* Center Card */
.about-box {
  max-width: 900px;
  margin: auto;
  padding: 50px 60px;
  /* background: linear-gradient(180deg, rgba(145,0,248,0.12), rgba(26,11,46,0.9)); */
  border-radius: 16px;
  
  
}

/* Title */
.about-box h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

/* Paragraph */
.about-text {
  font-size: 16px;
  line-height: 26px;
  opacity: 0.8;
  margin-bottom: 15px ;
}

.about-text.muted {
  opacity: 0.6;
}

/* /* ================= STATS ================= */
.stats {
 margin-top: 1px solid rgba(65, 37, 103, 1);
  max-width: 900px;
  margin: 120px auto 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}

/* /* Single stat  */
.stat h3 {
  font-size: 36px;
  color: #00ff88;
  margin-bottom: 6px;
}

.stat span {
  font-size: 12px;
  letter-spacing: 1px;
  opacity: 0.7;
}

.why-techwave {
  padding: 120px 200px;
  background: rgba(35, 14, 61, 1);
  text-align: center;
}

.why-techwave h2 {
  font-size: 36px;
  margin-bottom: 60px;
}

/* /* Grid  */
.features-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  
  gap: 30px;
}

/* /* Card  */
.feature-card {
  background: rgba(45, 18, 78, 1);
  border-radius: 18px;
  padding: 40px;
  text-align: left;
}

/* /* Taller first card  */
.feature-card.tall {
  grid-row: span 2;
  
}
#u{
    grid-column: span 2;
}

/* /* Wide card  */
.feature-card.wide {
  grid-column: span 2;
 
}

/* /* Icon  */
.feature-card .icon {
  font-size: 32px;
  margin-bottom: 15px;
}

/* /* Title  */
.feature-card h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

/* Text  */
.feature-card p {
  font-size: 14px;
  line-height: 22px;
  opacity: 0.75;
}
#i img{
   max-width: 60px;
}
/* ================= FEATURED EPISODES ================= */

.featured {
  padding: 120px 200px;
  background: linear-gradient(180deg, #1a0b2e, #140721);
  text-align: center;
}

.featured h2 {
  font-size: 32px;
  margin-bottom: 60px;
}

.episode-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.episode-card {
  background: #2a1349;
  border-radius: 18px;
  padding: 15px;
  text-align: left;
}

/* Responsive video container */
.video-box {
  position: relative;
  width: 100%;
  padding-top: 56.25%; /* 16:9 */
  border-radius: 14px;
  overflow: hidden;
}

.video-box iframe {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  border: none;
}

.episode-card h3 {
  
  margin: 15px 0 8px;
  font-style: Bold;
font-size: 24px;
font-weight: 700;
}

.episode-card p {
  font-size: 16px;
  font-weight: 400;
  opacity: 0.75;
  line-height: 20px;
  color: #757575;

}

.time {
  display: flex;
  gap:5px;
  margin-top: 10px;
  font-size: 12px;
  color: #00ff88;
}
/* ================= MEET THE HOST ================= */

.meet-host {
  padding: 120px 200px;
  background: linear-gradient(180deg, #1a0b2e, #140721);
}

.meet-title {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 120px;
}

/* Card */
.host-card {
  max-width: 1600px;
  margin: auto;
  padding: 120px 200px;
  display: flex;
  align-items: center;
  gap: 40px;
  background: linear-gradient(135deg, #2a1349, #1b0835);
  border-radius: 20px;
}

/* Avatar */
.host-avatar img {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #7c3aed;
}

/* Text */
.host-info h3 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 12px;
}

.host-info p {
  max-width: 800px;
  font-size: 14px;
  line-height: 22px;
  opacity: 0.75;
}

/* Social Icons */
.host-social {
  margin-top: 16px;
  display: flex;
  gap: 12px;
}

.host-social a {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: #2a1349;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}

.host-social a img {
  width: 14px;
}

.host-social a:hover {
  background: #7c3aed;
}


 
